<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   
    
   
</head>
<body>
    <form class="form-inline">
        <div class="form-group" style="width:100%;margin-bottom: 1%;">
            <div class="col-md-6 mb-3">
                <div class="col-md-4 mb-3"> <label>Temperature</label></div>
                <div class="col-md-8 mb-3">  <input type="text" id="temp_add" class="form-control mx-sm-3" placeholder="Temperature"> </div>

            </div>
            <div class="col-md-6 mb-3">
                <div class="col-md-4 mb-3"> <label>Humidity</label></div>
                <div class="col-md-8 mb-3">  <input type="text" id="humidity_add" class="form-control mx-sm-3" placeholder="Humidity"></div>
            </div>
        </div>

        <div class="form-group" style="width:100%;margin-bottom: 1%;">
            <div class="col-md-6 mb-3">
                <div class="col-md-4 mb-3"> <label>Minimum Temperature</label></div>
                <div class="col-md-8 mb-3">  <input type="text" id="minTemp_add" class="form-control mx-sm-3" placeholder="Min Temperature"></div>

            </div>
            <div class="col-md-6 mb-3">
                <div class="col-md-4 mb-3"> <label>Maximum Temperature</label></div>
                <div class="col-md-8 mb-3">  <input type="text" id="maxTemp_add" class="form-control mx-sm-3" placeholder="Max Temperature"></div>
            </div>

        </div>
       

    </form>

    <button type="button" id="weather_add" class="btn btn-primary btn-sm">Add Weather</button>
    <div class="container">
        <h2>Striped Rows s</h2>
        <p>The .table-striped class adds zebra-stripes to a table:</p>
        <table id="myTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Humidity</th>
                    <th>Temperature</th>
                    <th>Max Temp</th>
                    <th>Min Temp</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>






    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <script>
        $(document).ready(function () {

            $("#weather_add").click(function () {
                event.preventDefault();


                var weatherModel = {
                    humidity: "", temperature: "", min_temperature: "", max_temperature: ""
                }
                weatherModel.humidity = $("#humidity_add").val();
                weatherModel.temperature = $("#temp_add").val();
                weatherModel.min_temperature = $("#minTemp_add").val();
                weatherModel.max_temperature = $("#maxTemp_add").val();

               

                $.post('@Url.Action("AddWeatherdata")', { weatherModel: weatherModel },
                    function (response) {
                        $("#humidity_add").val("");
                        $("#temp_add").val("");
                        $("#minTemp_add").val("");
                        $("#maxTemp_add").val("");
                       
                       alert("Pass: " + response);
                   });


            });


            var table = $("#myTable").DataTable({
                "ajax": {
                    "url": "/Weather/GetAllWeatherData",
                    "type": "GET",
                    "datatype": "json"
                },
                "order": [[0, "desc"]],
                "columns": [
                    { "data": "updateDatestr" },
                    { "data": "updatedTimestr" },
                    { "data": "humidity" },
                    { "data": "temperature" },
                    { "data": "maxTemp" },
                    { "data": "minTemp" }
                ]
            })

            setInterval(function () {
                table.ajax.reload();
            }, 10000);

        });
    </script>
</body>
</html>
